@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

body{
    font-family: 'Comfortaa', cursive;
}

.tit-navbar{
    font-weight: bold;
    font-size: 1.5rem;
}

.contenedor{
    width: 30%;
    display: grid;
    grid-template-columns: 30% 70%;
    justify-content: center;
    border: 1.5px solid black;
    border-radius: 3px;
    padding-top: 2%;
    margin-top: 5%;
}

.seccion1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seccion1 i{
    text-decoration: none;
    font-size: 4rem;
    color: black;
    /* Cambiar el puntero */
    cursor: pointer;
}

.seccion2{
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 45% 45%;
    grid-gap: 5%;
    justify-content: center;
}   

.cont-numero{
    border: 1px solid black;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont-numero h1{
    color: black;
    font-size: 4.5rem;
}

.max-min{
    border: 1px solid black;
    border-radius: 3px;
    display: grid;
    grid-template-columns: repeat(6, 16.6%);
    visibility: hidden;
    padding: 5%;
}

.max-min button{
    grid-column: 5/7;
}

.input-max-min{
    display: flex;
    flex-direction: column;
}

.input-max-min div input{
    width: 120px;
}

#boton-ejecutar{
    font-size: 0.8rem;
}

#alerta{
    grid-column: 1/3;
    /* visibility: hidden; */
}

.tit-footer{
    font-size: 0.9rem;
}